{% extends 'base.html.twig' %}

{% block title %}Reset Password
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
                <h1>Reset Your Password</h1>
                {{ form_start(requestPassForm) }}
                    {{ form_row(requestPassForm.email) }}
                    <button class="btn btn-primary">Send</button>
                {{ form_end(requestPassForm) }}
			</div>
		</div>
	</section>

{% endblock %}
