<h1>Reset your password</h1>
<p>Hello {{user.firstname}}</p>
<p>Click the link below to reset your password</p>
<p>
  <a href="{{ url|raw }}">{{ url|raw }}</a>
</p>
<p>This link will expire in 1 hour.</p>