{% extends "base.html.twig" %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Page not found</h1>
                <p>The URL you looking for cannot be found. Please try again later.</p>            
            </div>
        </section>
    </main>
{% endblock %}